* {
    padding: 0%;
    margin: 0%;
}

.body {
    display: grid;
    grid-template: "header " auto
        "section" auto
        "footer" auto /
        100%;
}

.philio-icon {
    width: 25%;
}

.header{
    grid-area: header;
}

.navbar {
    background: linear-gradient(to left, hotpink, violet) !important;
}

body {
    font-family: 'Lexend Deca', sans-serif;
}

.formInput {
    padding: 10px;
}

.container-principal {
    grid-area: section;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
}

.insert-dates {
    max-width: 100%;
}

input {
    border: none;
    border-radius: 5px;
    border-bottom: 2px solid royalblue;
    width: 100%;
    font-weight: 800;
    color: blueviolet;
    padding: 10px;
}

.btn-submit {
    background-color: blueviolet;
    color: whitesmoke;
    border: none;
    margin-top: 0.4rem;
    padding: 0.2rem;
    border-radius: 5px;
}

.grid-dates {
    display: grid;
    grid-template-areas: "nameLastname age tastes"
        "rrss         rrss ubication"
        "activities activities activities";
    grid-template-columns: 6fr 3fr 12fr;
    grid-template-rows: 155px 155px auto;
    grid-gap: 0.4rem;
    margin: 1rem;
}

.grid-dates>div {
    border-radius: 10px;
    padding: 0.3rem;
    background-color: rgb(19, 19, 155);
    color: whitesmoke;
    width: 100%;
    font-weight: 800;
    box-shadow: 0px 0px 12px 1px lightslategray;
}

.grid-dates>div:hover {
    background-color: lightskyblue;
    color: black;
    transition: .3s all;
    transform: scale(1.02, 1.02);
}

.grid-dates__name {
    grid-area: nameLastname;
    word-wrap: break-word;
}

.grid-dates__name-p {
    word-wrap: break-word;
}

.grid-dates__age {
    grid-area: age;
    word-wrap: break-word;
}

.grid-dates__tastes {
    grid-area: tastes;
    word-wrap: break-word;
}

.grid-dates__rrss {
    grid-area: rrss;
    word-wrap: break-word;
}

.grid-dates__ubication {
    grid-area: ubication;
    word-wrap: break-word;
}

.grid-dates__activities {
    grid-area: activities;
}


.footer{
    grid-area: footer;
    background-color: hotpink;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 850px) {
    .container-principal {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
    }

    .insert-dates {
        width: 100%;
    }

    .grid-dates {
        grid-template-areas: "nameLastname"
            "age"
            "tastes"
            "rrss"
            "ubication"
            "activities";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        margin: 1rem;
    }

    .grid-dates>div {
        width: 100%;
    }

    .grid-dates__name {
        grid-area: nameLastname;
    }

    .grid-dates__name-p {
        word-wrap: break-word;
    }

    .grid-dates__tastes-decoration {
        text-decoration: line-through;
    }

    .grid-dates__rrss {
        grid-area: rrss;
    }

    .grid-dates__ubication {
        grid-area: ubication;
    }

    .grid-dates__activities {
        grid-area: activities;
    }
}